telegram.bot.name=
telegram.bot.token=
jwt.sign_key=
twilio.account_sid=
twilio.auth_token=
twilio.trial_number=
amazon.email.sender=
amazon.smtp.username=
amazon.smtp.password=
amazon.smtp.host=email-smtp.eu-north-1.amazonaws.com
viber.token=
viber.infobip.token=