twilio.trial_number=
twilio.account_sid=
twilio.auth_token=
twilio.test.sendto=
amazon.email.sender=
amazon.smtp.username=
amazon.smtp.password=
amazon.smtp.host=email-smtp.eu-north-1.amazonaws.com
amazon.test.sendto=
infobip.viber.url="https://3vpxwv.api.infobip.com/viber/1/message/text"
infobip.viber.company=DemoCompany
infobip.viber.token=
infobip.test.sendto=